

<form action = "/random/results">
<div>
<label for="min_value"> Minimum </label>
<input id= "min_value" type="text" name="user_min">
</div>

<div>
<label for= "max_value"> Maximum </label>
<input id="max_value" type="text" name="user_max">
</div>

<button> Pick random number</button>

</form>
