<h1> Calculate the square root</h1> 

<form action = "/square_root/results">
<label for="square"> Enter a number </label>

<input id="square" type="text" name="users_number">

<button> Calculate square root </button>
</form>
